/*Sedra Haidari 8933534*/
body{
    font:normal normal normal 12px/1.5 Arial,Helvetica,sans-serif;
    width:100w;
    height:100vh;
    background-color:hsla(268, 70%,68%,0.5) ;
}
h2{
    color:#f02;
    font-size:2em;
}
header{
    background-color:hsla(251, 71%, 68%, 0.5);
}
nav ul li{
    display:inline;
    list-style-type:none;
}
nav ul li{
    color:indigo;
    border:2px solid indigo;
    background-color:  cornsilk;
    text-decoration: none;
    padding:5px;
}
nav ul li a:hover{
    color:cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}
main{
    float:left;
    width: 65vw;
    background-color:hsla(184, 71%, 68%, 0.5);


}
aside{
    float:right;
    width:25vw;
    background-color:hsla(323, 71%, 68%, 0.5);

}
aside li{
    list-style-type: square;
    line-height: 2em;
    
}

footer{
    clear: both;
    background-color:hsla(212, 71%, 68%, 0.5);

}
.structural{
    margin: 10px;
    padding: 10px;
    border:2px solid black;
}
#para1{
    color:rgb(139, 40, 88);
}
#para2{
    color:rgb(40, 139, 70);
}
form{
    border:5px dashed darkblue;
    padding:5px;
}
input[type=text], input[type=email],input[type=submit], select,option{
display:block;
width:50%;
height:2em;
}

input[type=radio], input[type=checkbox]{
    height:2em;
    width:2em;
}
select,option,label,legend,input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width:50%;
}

fieldset{
    border: none;
}
a:hover:{
    color:#f02
}
footer p{
    font-size:.75em;
}